@charset "EUC-KR";

/* header */
#header {position:relative; min-width:1440px; height:160px; left:0; right:0; z-index:100;}
#header .header-inner {position:absolute; width:100%; min-width:1440px; padding:0; left:0; top:0; z-index:101;}
#header .header-inner .menu {position:absolute; display:flex; width:100%; top:46%; justify-content:center; margin:20px auto; padding: 0; line-height:1.5;}
#header .header-inner .menu > li {max-width:145px; min-width:130px; margin:0 20px;}
#header .header-inner .gnb .dep01 {position:relative; display:block; padding:16px 0; margin-bottom:-2px; font-size:20px; font-weight:500; line-height:1.5; color:#222; text-align:center;  z-index:3;}
#header .header-inner .logo {display:block; width:200px; margin-left:65px;}
#header .header-inner .logo img {width:100%;}
#header {position:relative; height:160px; left:0; right:0; border-bottom:1px solid #1cad0a; z-index:100;}
#header .header_inner {position:absolute; width:100%; min-width:1440px; padding:0; left:0; top:0; z-index:101;}
#header .header_inner .menu {position:absolute; display:flex; width:100%; top:46%; justify-content:center; margin:20px auto; padding: 0; line-height:1.5;}
#header .header_inner .menu > li {max-width:145px; min-width:130px; margin:0 20px;}
#header .header_inner .gnb .dep01 {position:relative; display:block; padding:16px 0; margin-bottom:-2px; font-size:20px; font-weight:500; line-height:1.5; color:#222; text-align:center;  z-index:3;}
#header .header_inner .logo {display:block; width:200px; margin-left:65px;}
#header .header_inner .logo img {width:100%;}

.top_search {position:absolute; width:610px; height:46px; top:13%; left:50%; transform:translate(-50%); border:1px solid #1cad0a;}
.inner_search {width:561px; float:left; background:#fff; margin:4px 0 0 4px;}
.in_keyword {width:540px; background:transparent; height:38px; padding:0 9px; border:none; outline:none; color:#333; font-size:14px; font-weight:bold;}
.search {float:left; width:45px; height:44px; background-position: 0 0; background: url(/potted/resources/images/icn_search.svg) no-repeat transparent 50%; border:0; font-size:0; cursor:pointer;}

.gnb_util {position:absolute; display:flex; top:65%; right:10%;}
.gnb_util .cartBtn {display:block; width:50px;}
.gnb_util .cartBtn img {width:100%;}
.gnb_util .infor {display:flex; margin-left:22px; flex-direction:column; justify-content:space-between;}
.gnb_util .infor a {display:block; font-size:16px;}
.gnb_util span {display:block; position:absolute;  width:26px; height:21px; left:26px; top:-12px; font-size:13px; text-align:center; border:1px solid black; border-radius:100px; z-index:-1;}

/* 결제하기 */
.shop_content a:hover {text-decoration:none; color:#000;}
.shop_content .text-bold {font-weight:bold;}
.shop_content {min-width:1440px; height:100%; background:#f7f7f7;}
.shop_content .shop_tit {margin:0; padding:38px 0; text-align:center;}
.order_wrap {width:520px; margin:0 auto;}
.pd_box {padding:10px 30px; margin-top:16px; background:#fff; overflow:hidden;}
.pd_box2 {margin-top:16px; background:#fff; overflow:hidden;}
.pd_box h3 {font-size:19px;}
.item_box {width:100%;}
.shop_item_thumb {padding:14px; margin:0; border:1px solid rgba(33, 33, 33, 0.15);}
.shop_item_thumb > a {display:table; width:100%;}
.shop_item_thumb .product_img_wrap {display:table-cell; width:80px; vertical-align:top; padding-right:20px;}
.order_wrap .shop_item_thumb .product_img_wrap > img {width:100%;}
.shop_item_thumb .product_info_wrap {display: table-cell; vertical-align: top; word-break: break-all; font-size: 14px;}
.shop_item_title {font-weight:bold;}
.shop_item_opt > p {color:#999; font-weight:12px;}
.shop_item_pay span {color:#20252b; font-weight:600; font-size:14px;}
.im-payment-deliv {background:rgba(33, 33, 33, 0.03); text-align:center; margin-bottom:10px; padding:10px 14px; border:1px solid rgba(33, 33, 33, 0.15); border-top:none; font-size:13px; line-height:1.4;}
.order_detail h4 {font-size:15px; margin:0;}
.order_detail p {margin:7px 0; font-size:14px; color:#757575;}
.form_control {width:50%; height:36px; float:right;}
.delivery span {display:block; width:50%; height:36px; float:left; font-size:15px;}
.delivery .w100 {width:98%;}
.delivery .w50 {width:47.8%;}
.delivery .h30 {height:30px;}
.delivery .pd {padding-top:42px;}
.delivery .inp_box {margin-top:6px;}
.form_control2 {width:100%; height:36px; margin-top:6px;}
.point_wrap .holder {display:flex; width:100%; overflow:hidden;}
.point_wrap .holder input {height:13px; width:91%; padding:10px;}
.point_wrap .allpoint {height: 35px; border-radius: 3px; letter-spacing: 0; float: left; width: 23%; line-height: 34px; padding: 0 !important; margin-left: 2%; text-align:center; border:1px solid #616161; }
.paydetail {padding:10px 30px;}
.paydetail .row {padding:0 0 15px;}
.paydetail .pay_txt {width:50%; float:left;}
.paydetail .pay_txt p {color:#666; font-size:14px;}
.paydetail .pay_number {width:50%; float:right; text-align:right; font-weight:bold;}
.paydetail .pay_number p {font-size:14px;}
.paydetail .col_ctr {margin-top:140px; border-top:1px solid silver;}
.paydetail .col_ctr p {width:50%;}
.paydetail .col_ctr p:nth-of-type(1) {float:left; font-size:14px;}
.paydetail .col_ctr p:nth-of-type(2) {float:right; text-align:right; font-size:16px; font-weight:bold;}
.bg-gray {margin-top:49px; padding:7px 30px; background:#e7e7e7;}
.bg-gray p {font-size:13px; font-weight:bold;}
.paymentBtn {display:block; width:100%; padding:20px 0; text-align:center; font-size:16px; font-weight:bold; background:#00b564; color:#fff !important;}
.nhList { border-bottom:2px solid black; font-size:16px;}
.ntList { border-bottom:1px solid; text-align:center; font-size:15px;}